@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #000;
  height: 100vh;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Archivo Black', sans-serif;
}
p {
  font-family: 'Poppins', sans-serif;
}
#navbar {
    background: #24242a4d;
    color: #fff;
}
#navLogo {
    width: 100px;
    height: 70px;
    object-fit: cover;
}
.toggleIcon {
    color: #fff;
    font-size: 30px;
    border: none;
}
#loginBtn {
    background: #f06f25;
    color: #fff;
    width: 150px;
    font-family: 'Archivo Black', sans-serif;
    padding: 10px 10px;
    transition: 0.5s;
    text-align: center;
}
#loginBtn:hover {
    background: #000;
    color: #fff;
}
.bannerBg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./../src/images/light2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  object-fit: cover;
}
.compName {
  font-size: 80px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 150px;
}
.subText {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}
#contactBtn {
  background: #f06f25;
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
}
p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.excitedContainer {
  margin-top: 70px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.line {
  border-top: 10px solid #f06f25;
  width: 130px;
}
.discover {
  font-size: 40px;
  text-transform: uppercase;
}
#number {
  font-size: 50px;
  margin-top: 10px;
}
.caption {
  font-size: 30px;
  text-transform: uppercase;
}
.serviceTitle {
  font-size: 25px;
  font-family: 'Archivo Black', sans-serif;
}
#serviceImg {
  width: 550px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
#serviceTwo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 0% 20% 0 20%/ 0% 20% 0 20%;
}
#serviceTwo:hover {
  transform: translateY(-10px);
  filter: saturate(10%);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#ceoSec {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 20px;
}
#ceoSec:hover .overlay {
  opacity: 1;
  width: 100%;
  top: 0;
  left: 0;
  filter: hue(10%);
  cursor: pointer;
}
#ceoImg {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}
#serviceContainer {
  overflow-x: hidden;
}
.serviceIcon {
  font-size: 35px;
  background: #f06f25;
  color: #fff; 
  padding: 10px 10px;
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
#quote {
  font-size: 30px;
}
#rotateQuote {
  rotate: 180deg;
  font-size: 30px;
}
#footer {
  background:#0d122a;
  color: #fff;
}
#footerLinkTitle {
  font-size: 18px;
}
.footerP {
  font-size: 16px;
}
#socialIcons {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  transition: 0.3s ease;
}
#socialIcons:hover {
  font-size: 22px;
  opacity: 0.8;
}

@media screen and (max-width: 768px){
  .bannerBg {
    background-size: cover;
    object-fit: contain;
    height: 400px;
  }
  .compName {
    font-size: 30px;
    margin-top: 90px;
  }
  .subText {
    font-size: 18px;
  }
  .serviceTitle, .caption {
    font-size: 25px;
  }
  #number, .discover {
    font-size: 35px;
  }
  #ceoImg {
    height: 400px;
  }
  #serviceImg {
    width: 100%;
    height: 350px;
  }
  #serviceTwo {
    width: 100%;
    height: 200px;
  }
  .excitedContainer {
    overflow-x: hidden;
    margin-top: 50px;
}
}